/*Colores*/
$color-white: #FFFFFF;
$color-black: #070707;
$color-green: #0AEF81;
$color-violet--light: #e4e6ff;
$color-violet--grey: #F3F4FF;
$color-violet--dark---grey: #797ba3;
$color-violet:#B8BBFF;
$color-blue: #262CBD;
$color-red: #ff0052; 
$colot-text--contrast: #9698bd;
